<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    body { 
      background: #302033; 
    }

    .main {
      background: #19141E;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 16px;
      line-height: 1.68;
      color: #dadada;
      padding: 24px;
      margin: 24px auto;
      border-radius: 4px;
      max-width: 570px;
    }

    h1 { 
      font-weight: normal; 
      font-size: 18px;
    }

    .footer {
      border-top: 1px solid #372b44;
      padding-top: 28px;
      margin-top: 80px;
      text-align: center;
      color: #716979;
    }
  </style>
</head>
<body>
  <div class="main">
    {{{ body }}}

    {{> footer }}
  </div>
</body>
</html>